html{height: 100%}

/* HEADER. FOOTER*/
header {
    border-radius: 10px;
    border:0px solid black;
    width: 99%; /*на весь экран*/
    background-color:#FFE4B5; /* фон */
    min-height: 96px; /*50 пикселей */
    float: left;
    margin-top: 10px;

}

footer {
    border-radius: 10px;
    border:0px solid black;
    width: 99%; /*на весь экран*/
    background-color:#FF4500; /* фон */
    min-height: 96px; /*50 пикселей */
    float: left;
    margin-top: 520px;

}



.contact a {
    font-size:18px;
    color: black;
    font-family: Arial, sans-serif;
    margin-left: 10px; /* левый отступ */
    float: right;
    margin-right:10px;

    text-decoration: none;

}

.contact a:hover{
    font-size: 18px;
    color: black;
    background-color: white;
    border-radius:5px;
    text-decoration: none;
    border: solid 0px black;
}

.description{
    font-family: 'Bungee Shade';
    font-size: 60px;
    color:#00008B;
    margin-left:10px;
    margin-top:28px;
    text-decoration: none;
}

/* HOME */

.quote{
    font-size:39px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color:black;
    float: left;
    border-radius:2px;

}

.quotediv{
    float: left;
    -webkit-box-flex: 55;
    -ms-flex: 50%;
    flex: 20%;
    max-width: 30%;
    margin-left: 10px;
    margin-top:10px;
}



.row {

}

.col-md-4 {
  width: 100%;
  min-height: 1px;
  padding-left: 90px;
}

.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 20.333333%;
    max-width: 15.333333%;
}


.col-md-4 a {
    color:black;
    border-radius:19px;
}

.col {
    margin-left:60px;
}

#menu {
    font-size:29px;
    color: black;
    font-family: 'Bungee Shade';


}

#menu a{
    color: black;

    font-size:20px;
    text-decoration: none;
    border-left:20px;
    background:#87CEEB;
    border-radius: 4px;
    margin-left:40px;
    border: solid 3px black;

}

#menu a:hover{
    background:#38aafcdc;
    color: black;

    font-size:20px;
    text-decoration: none;
}

.homephoto{
    width:1100px;
    height:480px;





}


.imgabout{
    width:100%;
    margin-top:22px;
    height:280px;
    width: auto;
    border: solid 1px black;
    border-radius: 5px;
}


