{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Главная страница Barbershop</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--Добавление стиля-->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Title.png' %}">
</head>

<script>
   function digitalClock() {
    var date = new Date();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();
       //* добавление ведущих нулей */
      if (hours < 10) hours = "0" + hours;
      if (minutes < 10) minutes = "0" + minutes;
      if (seconds < 10) seconds = "0" + seconds;
        document.getElementById("id_clock").innerHTML = hours + ":" + minutes + ":" + seconds;
        setTimeout("digitalClock()", 1000);
   }
    </script>

<body>
<header>
    <a href="/"><h4 class="description">BARBER GODS</h4></a>
    <span class="right"> <span class="contact"><a href="/" title="Зарегистрироваться">Регистрация</a>
      <span class="contact"><a href="/" title="Введите ваш логин и пароль">Вход</a>


</header>

<div id="menu"><br>
        <center>
            <div id="menu">Разделы сайта<br><br>
                <a href="{% url 'news' %}" id="menu">Новости</a>
                 <a href="{% url 'record' %}" id="menu">Записаться</a>
                <a href="" id="menu">Акции</a><br><br>
                <a href=""id="menu">Виды причесок</a>
                <a href=""id="menu">Наши барберы</a>
                <a href=""id="menu">Наши адреса</a>
                <a href=""id="menu">Контакты</a>
                <a href=""id="menu">Обратная связь</a>
            </div>
        </center>
</div>
{% block header %}

 <div id="id_clock"></div>
        <script>digitalClock();</script>
<h4>Следите за временем чтобы не опоздать на приём</h4>


<div class align="center">
<a href="http://0.0.0.1:9000/admin"><img src="{% static 'Иконка.jpg' %} " class="homephoto" align="center"></a><br>

<h3 class="quote">"Стрижка для нас это призвание, часть жизни и культуры.
    Мужчины приходят к нам не только для того,
    чтобы подровнять бороду, но и обрести неповторимый стиль"</h3>
</div>

<div class="row">
    {% for i in data %}
    <div class="col-md-4 product-men">
        <a href="{% url 'record' %}"><img src="{{i.image.url}}" class="imgabout"></a>
    </div>
</div>
    <div class="co">
    <h3>{{i.name}}</h3>
    <h4>Специализация:</h4>
    <h5>{{i.types_hairstyle}}</h5>
    <a href="{% url 'record' %}"><button><h3 align="center">Запись</h3></button></a>
    {% endfor %}
    </div>
</div>
</div>



{% endblock %}


<footer>
    <h3>Все права защищены &copy; 2023</h3>

</footer>

</body>
</html>